!/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/web/*
/.idea/*
/vendor/*
#composer.lock
!/web/js
!/web/json
!/web/css
!/web/uploads
!/web/images
!/web/fonts
/web/uploads/gallery
/src/AuthBundle/Entity/*.php~
/app/Resources/uploads/*