* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*body {
  background-color: #ddd;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}*/

.information-message {
  display: table;
  position: relative;
   /* position: absolute;*/
  margin: 40px auto 0;
  width: 500px;
  background-color: #0074d9;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.information-message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  /*margin: 0 auto;*/
  display: block;
}

.information-message-orange {
  background-color: #f39c12;
}

.information-message-red {
  background-color: #ff4136;
}

.information-message-green {
  background-color: #2ecc40;
}

.information-message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.information-message-icon > i {
  width: 20px;
  font-size: 20px;
}

.information-message-body {
  display: table-cell;
  vertical-align: middle;
  /*padding: 30px 20px 30px 10px;*/
    padding-left: 10px;
    padding-right: 20px;
}
.information-message-body > p {
  line-height: 1.2;
  margin-top: 16px; /*6px first*/
}

.information-message-button {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  color: #fff;
  outline: none;
  cursor: pointer;
}
.information-message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.information-message-button:active {
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}

.information-message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.information-message:hover .information-message-close {
  opacity: 1;
}
.information-message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.u-italic {
  font-style: italic;
}
